div {
  position: absolute;
  inset: 50% 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  width: 50vw;
  border: 2px solid black;
}
h1 {
  font-size: 1rem;
}
.btn {
  color: black;
  background-color: orange;
  width: 30%;
  margin: 0 1rem;
  height: 100%;
  transition: all 0.28s;
}
.increase {
  align-self: flex-start;
}
.reset {
  align-self: center;
}
.decrease {
  align-self: flex-end;
}

.btn:hover {
  background-color: brown;
}
